<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SkLogin" connectionString="Data Source=.;Initial Catalog=LoginDB;Integrated Security=True" />
    <add name="SkMain" connectionString="Data Source=.;Initial Catalog = ScreenKinikor; Integrated Security = True" />
  </connectionStrings>
</configuration>